<body>
 <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
          <div class="container-fluid">
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="#"> <img class="image1" src="./assets/Layer 156.svg"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link head" href="#">Free Delivery</a>
                </li>
                <li class="nav-item">
                  <div class="vertical-line"></div>
                </li>
                <li class="nav-item">
                  <a class="nav-link policy"  href="#">Return Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link login" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link head" href="#">Follow US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link head" href="#"><img src="./assets/Vector.svg"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link head" href="#"><img src="./assets/Vector (1).svg"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link head" href="#"><img src="./assets/Vector (2).svg"></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link head" href="#"><img src="./assets/Group 6.svg"></a>
                </li>  
              </ul>
            </div>
          </div>
        </nav>
  </header>
    <div class="black-background">
    <div class="container">
      <div class="row">
        <div class="content">
          <span class="shop">ShopKart</span>
          <span class="bag"><strong>WISHLIST (0) &nbsp; BAG (0)</strong></span>
        </div>
      </div>
      <hr>
      <nav class="nav">
        <a class="nav-link space" href="#">HOME</a>
        <a class="nav-link space" href="#">ABOUT</a>
        <div class="nav-dropdown">
          <a class="nav-link products-link space" href="#">OUR PRODUCTS</a>
          <div class="submenu">
            <a class="product" href="#">Product 1</a><br>
            <a class="product" href="#">Product 2</a><br>
            <a class="product" href="#">Product 3</a><br>
            <a class="product" href="#">Product 4</a>
          </div>
        </div>
        <a class="nav-link space" href="#">CONTACT US</a> 
      </nav>
      <div>
        <img class="yellow" src="./assets/Yellow Rectangle.PNG" alt="Image">
        <div class="image-text">OREGON JACKET</div>
        <div class="rs">$124</div>
        <div class="fresh">Fresh</div>
        <div class="year">2022</div>
        <div class="look">Look</div>
        <div class="more">See more  ↗</div>
      </div>
      <img class="boy" src="./assets/jessica-radanavong-IchPBHFD0pw-unsplash.png">
    </div>
  </div>
</body> 
<br>
<br>      
<h2>New products</h2>
<hr class="line">
<div class="row">
  <div class="col-md-3 list">
  <span>Apparel</span><br>
  <span>Accessories</span><br>
  <span>Best sellers</span><br>
  <span>50% off</span>
  </div>
    <div class="image-container">
      <img class="photo1" src="./assets/photo1.jpg">
      <div class="image-caption"><b>FLORIDA JACKET</b><br>
        Suffered alteration in some form,<br> bysuffalterattion in some forme, byinjected<br> humor, or randomised
      </div>
    </div>
    <div class="image-container">
      <img class="photo2" src="./assets/photo2.jpg">
      <div class="image-caption1"><b>FLORIDA JACKET</b><br>
        Suffered alteration in some form,<br> bysuffalterattion in some forme, byinjected<br> humor, or randomised</div>
    </div>
    <div class="image-container">
      <img class="photo3" src="./assets/malicki-m-beser-PKMvkg7vnUo-unsplash.jpg">
      <div class="image-caption2"><b>FLORIDA JACKET</b><br>
        Suffered alteration in some form,<br> bysuffalterattion in some forme, byinjected<br> humor, or randomised</div>
    </div>
</div>